<style type='text/css'>
html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-repeat: no-repeat;

  background: rgba(255,252,252,1);
  background: -moz-linear-gradient(top, rgba(255,252,252,1) 0%, rgba(168,210,230,1) 36%, rgba(94,190,235,1) 79%, rgba(39,169,230,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,252,252,1)), color-stop(36%, rgba(168,210,230,1)), color-stop(79%, rgba(94,190,235,1)), color-stop(100%, rgba(39,169,230,1)));
  background: -webkit-linear-gradient(top, rgba(255,252,252,1) 0%, rgba(168,210,230,1) 36%, rgba(94,190,235,1) 79%, rgba(39,169,230,1) 100%);
  background: -o-linear-gradient(top, rgba(255,252,252,1) 0%, rgba(168,210,230,1) 36%, rgba(94,190,235,1) 79%, rgba(39,169,230,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,252,252,1) 0%, rgba(168,210,230,1) 36%, rgba(94,190,235,1) 79%, rgba(39,169,230,1) 100%);
  background: linear-gradient(to bottom, rgba(255,252,252,1) 0%, rgba(168,210,230,1) 36%, rgba(94,190,235,1) 79%, rgba(39,169,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#27a9e6', GradientType=0 );

}
</style>

<div class='open-sea'>
<% if @game.has_user?(current_user) && @game.state != "NOT_STARTED"%>
<h1 class='center hide-on-med-and-down'> <%= @game.name %> </h1>

  <%= react_component('GameShow') %>

  <div class='player-dash'>
    <%= react_component('UserDash', player: @current_player) %>

  </div>
<% else %>
<h1> Sorry, I dont think you are in the right place </h1>
<% end %>
</div>
