<div class='container about-page'>

  <h4>About</h4>
  <hr/>

  <div class="row card">
    <div class="col s12 m3">
      <h5>Vivek Patel</h5>
      <p><a href="mailto:vnp229@gmail.com">vnp229@gmail.com</a></p>
      <p><a href="https://github.com/vpatel90">GitHub - vpatel90</a></p>
    </div>
    <div class="col s12 m8">
      <p>Hi there, this website is a final project submission for the Rails course at The Iron Yard.
         The project was completed in 2 weeks, conception to demo. <a href="https://github.com/vpatel90/Plunder" >Check it out on GitHub!</a></p>
      <p>Plunder was inspired by a card game, <a href="http://www.gamewright.com/gamewright/index.php?section=games&page=game&show=142">Loot, by Gamewright</a>.
        I chose this game because I love playing board games, and I wanted to convert a game into an online version. It was a great experience and I hope I can continue adding to this project over time</p>
      <p><a href="http://janinahartleydesigns.com/"> Janina Hartly</a> was also a huge help! She is a fellow student at the Iron Yard who was kind enough to help me with the font/color selection for the site.</p>

      <p>Feel free to contact me with any comments or concerns!</p>
    </div>
  </div>
  <div class="row">

  </div>
</div>
<%= render partial: 'layouts/footer' %>
