<h1> </h1>
<div class="row container">
  <div class="col m3">
    Friends
    <% @users.each do |user| %>
      <p> <%= user.name %> </p>
    <% end %>
  </div>

  <div class= "col m3 container card">
    <%= react_component('LobbyGames', user: current_user) %>

  </div>
  <%= link_to "Create Game", new_game_path,
      class: "right btn waves-effect waves-light primary-color" %>

</div>
