<h1> </h1>
<div class="container">
    <div class='row'>
      <div class='col m8 container card'>
        <%= react_component('LobbyGames', user: current_user) %>
      </div>
      <div class='col m4'>
        <% unless in_game? %>
          <%= link_to "Create Game", new_game_path,
              class: "right btn waves-effect waves-light primary-color" %>
        <% end %>
      </div>
    </div>


    <div class="lobby-chat-box">
      <div class="chat-box-header" id="mini-max">
        <h6>General Chat </h6>
        <h6 class="mini-max right"> - </h6>
      </div>
      <div class="inner-chat-box">
        <%= react_component('LobbyChat') %>

      <div class="lobby-message-sender">
        <%= react_component('MessageSender', url: "/lobby/new_message") %>
      </div>
      </div>
    </div>


</div>
