<div class="container">
    <div class='row'>
      <h4 class='display-inlineblock form-header'>Active Games</h4>
      <% if signed_in? %>
      <% unless in_game? %>
         <a id="create_game" href="#create_modal"
              data-position="right" data-delay="50" data-tooltip="Create New Game"
              class="tooltipped create-game btn-floating btn waves-effect waves-light primary-color">
              <i class="material-icons">add</i>
        </a>
      <% end %>
      <% end %>
    </div>
    <div class='lobby-games'>
      <%= react_component('LobbyGames', user: current_user) %>
    </div>
    <div id="create_modal" class="create-game-modal modal">
      <%= render partial: 'layouts/create_game_form' %>
    </div>


    <div class="lobby-chat-box">
      <div class="chat-box-header" id="mini-max">
        <h6>General Chat </h6>
        <h6 class="mini-max right"> - </h6>
      </div>
      <div class="inner-chat-box">
        <%= react_component('LobbyChat') %>


      <div class="lobby-message-sender">
        <%= react_component('MessageSender', url: "/lobby/new_message", user: current_user) %>
      </div>
      </div>
    </div>


</div>
