<h1> </h1>
<div class="row container">
  <div class="col m3">
    Friends
  </div>

  <div class= "col m9 container">
    <%= link_to "Create Game", new_game_path,
        class: "right btn waves-effect waves-light primary-color" %>
    <%= react_component('LobbyGames', user: current_user) %>

  </div>

</div>
