/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$blue-color: #224faa;
$purple-color: #4a264f;
$gold-color: #dd8422;
$green-color: #177534;
$primary: #3e2723;


@import 'materialize';
@import "materialize/extras/nouislider";
@import url(https://fonts.googleapis.com/css?family=Sahitya:400,700|Sorts+Mill+Goudy:400,400italic);


html {
 font-family: 'Sorts Mill Goudy', serif;
}

h1, h2, h3, h4, h5, h6, nav {
 font-family: 'Sahitya', serif;
}


.primary-color {
  @extend .brown;
  @extend .darken-4;
}

.portrait {
  background-color: red;
  height: 50px;
  width: 50px;
}

.player-portrait {
  background-color: blue;
  height: 50px;
  width: 50px;
}

.dropdown-content {
  margin-top: 45px;
}

.player-dash {
  position:absolute;
  bottom: 0;
  left: 0;
  height: 300px;
  width: 100%;
  background-color: lighten($primary,75%);
  border-top: solid 1px $purple-color;
}

.player-list {
  position:absolute;
  top: 80px;
  left: 10px;
  width: 250px;
  background-color: lighten($primary,75%);
  border: solid 1px $purple-color;
}

.col.message-sender {
  z-index: 20;
  position:absolute;
  left: 1%;
  bottom: 0px;
  height: 45px;
  .message-sender-form {
    position: relative;
    bottom: 0px;
    padding: 0;
    input[type="text"]{
      height: 1.5em;
    }
    .send-button {
      position: relative;
      float: right;
      bottom: 45px;
      left: 74px;

    }
  }
}
.col.notifications {
  max-height: 250px;
  position:absolute;
  max-width: 29%;
  left: 1%;
  top: 30px;
  bottom: 55px;
  overflow-y: scroll;
  p:last-child {
    color: red;
  }
}

.lobby-chat {
  max-height: 500px;
  width: 400px;
  overflow-y: scroll;
}

.lobby-message-sender {
  position: relative;
  bottom: 0px;
  padding: 0;
  margin: 20px 0;
  input[type="text"]{
    height: 1.5em;
  }
  .send-button {
    position: relative;
    float: right;
    bottom: 45px;
    left: 74px;

  }
}

.col.hand-cards {
  position:absolute;
  max-width: 40%;
  left: 30%;
  padding-top: 30px;
  overflow-x: scroll;
  white-space: nowrap;
}

@media (max-width: 989px) {
  .col.hand-cards {
    left: 1%;
    max-width: 60%;
  }
}

.play-card {
  cursor: pointer;
  position: relative;
  top: 0;
  margin-right: -55px;
  border-radius: 5px;
  width: 150px;
  height: 200px;
  display: inline-block;
  transition: all 0.3s ease;
  &:hover{
    transition: all 0.3s ease;
    top: -30px;
    z-index: 25;
  }
}

.game-deck {
  position: absolute;
  right: 10%;
  .play-card-deck{
    cursor: pointer;
    position: relative;
    top: 0;
    margin-right: -65px;
    border-radius: 5px;
    width: 150px;
    height: 200px;
    display: inline-block;
    transition: all 0.3s ease;
  }
}

.ship-card{
  cursor: pointer;
  position: relative;
  top: 0;
  margin: 0 45px;
  border-radius: 5px;
  width: 150px;
  height: 150px;
  display: inline-block;
  transition: all 0.3s ease;

}

.blue-pirate-card {
  position: absolute;
  top: -60px;
  left: -20px;
  .card {
    background-color: $blue-color;
    color: white;
  }
}

.gold-pirate-card {
  position: absolute;
  top: -10px;
  left: -60px;
  .card {
    background-color: $gold-color;
    color: white;
  }
}

.purple-pirate-card {
  position: absolute;
  top: 153px;
  left: -20px;
  .card {
    background-color: $purple-color;
    color: white;
  }
}

.green-pirate-card {
  position: absolute;
  top: -10px;
  left: 153px;
  .card {
    background-color: $green-color;
    color: white;
  }
}

.styled-pirate-card {
  display: inline-block;
  margin: 3px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.hide-me {
  display:none;
}

.sm-margin {
  margin: 5px auto;
}
