/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$blue: #224faa;
$purple: #4a264f;
$orange: #dd8422;
$green: #177534;
$primary: #3e2723;


@import 'materialize';
@import url(https://fonts.googleapis.com/css?family=Sahitya:400,700|Sorts+Mill+Goudy:400,400italic);


html {
 font-family: 'Sorts Mill Goudy', serif;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Sahitya', serif;
}

.primary-color {
  @extend .brown;
  @extend .darken-4;
}

.portrait {
  background-color: red;
  height: 50px;
  width: 50px;
}

.player-portrait {
  background-color: blue;
  height: 50px;
  width: 50px;
}
