/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$blue-color: #224faa;
$purple-color: #4a264f;
$gold-color: #dd8422;
$green-color: #177534;
$primary: #3e2723;
$secondary: lighten(#224faa, 45%);


@import 'materialize';
@import "materialize/extras/nouislider";
@import url(https://fonts.googleapis.com/css?family=Sahitya:400,700|Sorts+Mill+Goudy:400,400italic);


html {
 font-family: 'Sorts Mill Goudy', serif;
}

h1, h2, h3, h4, h5, h6, nav {
 font-family: 'Sahitya', serif;
}



.drop-nav {
  top: 0px;
}


.primary-color {
  @extend .brown;
  @extend .darken-4;
}

.portrait {
  height: 78px;
  width: 78px;
  margin-bottom: -10px;
  margin-right: 5px;
  overflow: hidden;
  user-select: none;

}



.turn-indicator {
  transition: box-shadow 0.75s ease;
  box-shadow: 0px 0px 1px 6px $green-color;
}

.player-portrait {
  background-color: blue;
  height: 50px;
  width: 50px;
}

.main-game-board {
  position: relative;
  top: -50px;
}


.dropdown-content {
  margin-top: 45px;
}

.player-dash {
  position:fixed;
  bottom: 0;
  left: 0;
  height: 300px;
  width: 100%;
  background-color: lighten($primary,75%);
}

.player-score {
  @extend .card;
  display: inline-block;
  margin-left: 262px;
  position: absolute;
  top: -95px;
  background-color: lighten($primary,75%);
  padding: 18px;
  padding-bottom: 0;
  border-radius: 3%;
  img {
    width: 50px;
    background-color: lighten($primary,75%);
    border-radius: 50%;
  }
  span {
    font-size: 2em;

    position: relative;
    top: -22px;
    left: 5px;
  }
}

.modal {
  input[type=text]:focus {
    border-bottom: 2px solid $primary;
    box-shadow: 0 1px 0 0 #777;
  }
  input[type=password]:focus {
    border-bottom: 2px solid $primary;
    box-shadow: 0 1px 0 0 #777;
  }
  label {
    color: $primary;
  }
  input[type=text]:focus:not([readonly]) + label {
    color: $primary;
  }
  input[type=password]:focus:not([readonly]) + label {
    color: $primary;
  }
}

.create-game-modal {
  padding-bottom: 20px;
  height: 200%;
}

.dropdown-content {
  li > a{
    color: $primary;
  }
}

.select-wrapper {
  li > span{
    color: $primary;
  }
}
.player-list {
  position:absolute;
  top: 10px;
  left: 5px;
  z-index: 1;
  .player-name {
    font-size: 1.25em;
  }
  .portrait {
    float:left;
    margin: -15px 0 0 -10px;
  }
  .card {
    width: 250px;
    overflow: hidden;
  }
}

.current-player-card {
  position: absolute;
  top: -95px;
  left: 10px;
  z-index: -5;
  .card {
    background-color: lighten($primary,75%);
  }
}

.col.message-sender {
  z-index: 20;
  position:absolute;
  left: 1%;
  bottom: 0px;
  height: 45px;
  .message-sender-form {
    position: relative;
    bottom: 0px;
    padding: 0;
    input[type="text"]{
      height: 1.5em;
      width: 165%;
    }
    .send-button {
      position: relative;
      float: right;
      bottom: 45px;
      left: 184px;

    }
  }
}
.col.notifications {
  max-height: 250px;
  position:absolute;
  max-width: 29%;
  left: 1%;
  top: 30px;
  bottom: 55px;
  overflow-y: scroll;
}

.notification-decoration {
  color: lighten(black, 25%);
  font-style: italic;
}


.game-card {
  box-sizing: border-box;
  margin: 20px;
}

.create-game {

}


.lobby-chat-box {
  background-color: lighten($primary,75%);
  position: fixed;
  float: right;
  bottom: 0;
  right: 10px;
  width: 50%;

  @extend .z-depth-3;
}

.inner-chat-box {
  padding: 15px 15px 0 15px;

}

.chat-box-header {
  background-color: $primary;
  color: white;
  padding: 5px;
  h6 {
    font-size: 1.3em;
    padding-left: 10px;
    margin: 0;
    display: inline-block;
  }
}
.mini-max.right {
  padding-right: 15px;
  margin-top: -7px;
  font-size: 2em;
  cursor: pointer;
}

.larger-font {
  font-size: 1.2em;
}
.lobby-chat {
  width: 100%;
  transition: all 1s ease;
  max-height: 300px;
  overflow-y: scroll;
}

.lobby-message-sender {
  position: relative;
  bottom: 0px;
  padding: 0;
  margin: 20px 0 0 0;
  .text-input-field {
    margin-right: 59px;
  }
  input[type="text"]{
    height: 1.5em;
    padding: 5px;
    background-color: lighten($primary,65%);
  }
  input[type=text]:focus {
    border-bottom: 2px solid $primary;
    box-shadow: 0 1px 0 0 #777;
    }
  .send-button {
    position: relative;
    float: right;
    bottom: 45px;
    left: 24px;

  }
}

.height-zero {
  transition: all 1s ease;
  height: 0;
}

.col.hand-cards {
  position:absolute;
  height: 250px;
  width: 768px;
  max-width: 80%;
  left: 30%;
  padding-top: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}


.play-card {
  cursor: pointer;
  position: relative;
  top: 0;
  margin-right: -55px;
  border-radius: 5px;
  width: 150px;
  height: 200px;
  display: inline-block;
  transition: all 0.3s ease;
  &:hover{
    transition: all 0.3s ease;
    top: -30px;
    z-index: 25;
  }
}

.color-card-white {
  background-image: radial-gradient(ellipse, white 0%, lighten($primary, 65%) 65%, lighten($primary, 20%) 95%);
}

.color-card-blue{
  background-image: radial-gradient(ellipse, white 0%, lighten($blue-color, 55%) 65%, $blue-color 95%);
}

.color-card-green{
  background-image: radial-gradient(ellipse, white 0%, lighten($green-color, 65%) 65%, $green-color 95%);
}

.color-card-purple{
  background-image: radial-gradient(ellipse, white 0%, lighten($purple-color, 65%) 65%, $purple-color 95%);
}

.color-card-gold{
  background-image: radial-gradient(ellipse, white 0%, lighten($gold-color, 45%) 65%, $gold-color 95%);
}

.ship-value {
  height: 30px;
  img {
    margin-top: 15px;
    width: 35px;
    height: auto;
  }
  span {
    font-size: 2em;

    position: relative;
    top: -15px;
    left: 5px;

  }
}

.ship-image {
  position: relative;
  left: -25px;
  height: 150px;
  width: 150px;
}

@keyframes wobble {
  0% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(0deg);

  }

  50% {
    transform: rotateZ(-3deg);
  }

  100% {
    transform: rotateZ(3deg);
  }
}

@keyframes flag-wave {
  0% {
    transform: rotateY(25deg);
  }
  100% {
    transform: rotateY(-25deg);
  }
}

.ships-on-board {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  user-select: none;
  @for $i from 1 through 25 {
    .ship-card:nth-child(#{$i}) {
      .on-board {
        animation-delay: random(1000)/1000 + s;
      }
    }
  }

}

// ind ship image on board
.on-board {
  left: 0;
  bottom: 10px;
  animation: wobble 5s infinite;
  animation-direction: alternate-reverse;

}

.attacker-ships {
  position: relative;
  display: inline-grid;
  left: -60px;
  width: auto;
}
//pirate-ship on board
.pirate-on-board {
  top: -120px;
  left: -10px;
  padding: 0px;
}

.pirateship-and-flag {
  img {
    animation: wobble 5s infinite;
    animation-direction: alternate-reverse;
  }

}

.portrait-on-board {
  @extend .portrait;
  position: relative;
  left: 37px;
  padding: 3px;
  top: -190px;
  width: 40px;
  height: 40px;
}

.pirate-ship-value {
  @extend .ship-value;
  position: relative;
  top: -235px;
  left: 70px;
  span {
    font-size: 2em;
    top:-7px;
  }
  img {
    margin-left: 10px;
    width: 25px;
  }
}

.blue-flag {
  path.inline {
    fill: $blue-color;
  }
}

.green-flag {
  path.inline {
    fill: $green-color;
  }
}

.purple-flag {
  path.inline {
    fill: $purple-color;
  }
}

.gold-flag {
  path.inline {
    fill: $gold-color;
  }
}
.pirate-flag {
  position: relative;
  top: -213px;
  left: 93px;
  z-index: 0;
  svg {
    width: 25px;
    height: auto;
    animation: flag-wave 2s infinite;
    animation-direction: alternate-reverse;
  }
}

.game-deck {
  position: absolute;
  right: 10%;
  .play-card-deck{
    cursor: pointer;
    position: relative;
    top: 0;
    margin-right: -65px;
    border-radius: 5px;
    width: 150px;
    height: 200px;
    display: inline-block;
    transition: all 0.3s ease;
  }
}

.ship-card{
  cursor: pointer;
  position: relative;
  top: 0;
  margin: 0 90px;
  border-radius: 5px;
  width: 150px;
  height: 150px;
  display: inline-table;
  transition: all 0.3s ease;

}

.styled-pirate-card {
  position: relative;
  display: inline-block;
  margin: 25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.hide-me {
  display:none;
}

.sm-margin {
  margin: 5px auto;
}

@media (max-width: 992px) {
  .current-player-card.player-list {
    top: -95px;
  }
  .col.hand-cards {
    left: 1%;
    max-width: 100%;
  }
  .player-list {
    width: auto;
    max-width: 100%;
    height: 177px;
    left: 0;
    top: 10px;
    overflow-x: scroll;
    white-space: nowrap;
    .card {
      display: inline-block;
      margin-right: 10px;
    }
  }
  .main-game-board {
    position: relative;
    top: 40px;
  }
  .lobby-chat-box {
    width: 75%;

  }
}



@media (max-height: 800px) {
  .player-dash {
    height: 200px;
    .hand-cards {
      .play-card {
        margin-right: -35px;
      }
      .cards {
        width: 120px;
        height: 160px;
        .card_content {
          padding: 5px;
          .ship-image {
            width: 120px;
            height: 120px;
            left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .player-score {
    margin-left: 260px;
  }

  .player-list {
    top: 10px;
  }
  .lobby-chat-box {
    width: 100%;

    right: 0;

  }
}

@media (min-height: 800px) {
  .main-game-board {
    position: relative;
    top: 80px;
  }
}
