<div class="container">
  <h3 class="form-header display-inlineblock">How to Play </h3>
  <span class="right close-modal"> <i class="material-icons">close</i> </span>

  <h5 class="form-header">Objective </h5>
  <p> The goal of the game is to have the most goal at the end of the game. </p>
  <h5 class="form-header">Set Up & End </h5>
  <p> Each player will start with 6 cards, the player may play a card OR draw a card during their turn. The game ends when the Deck is empty and one player plays their last card.</p>
  <h5 class="form-header">Pirate Card</h5>
  <div>
  <%= image_tag("piratecard.png", class:'left') %>
  <div class="display-inlineblock"><p>yooyo </p></div>
  </div>
</div>
